.settings/
.buildpath
.project
Data/install.lock
Data/upload/article/
Data/upload/face/
Data/upload/feed/
Data/upload/group/
Data/upload/note/
Data/upload/photo/
Data/upload/topic/
Data/upload/event/
Runtime/Cache/
Runtime/Data/
Runtime/Logs/



