<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{{L._('page_title')}}</title>
<script src="public/theme/default/js/jquery.js" type="text/javascript"></script>
</head>
<body>
<!--header-->
<div class="header">
<div class="head">
<div class="logo"><a href="index.php"><img src="public/theme/default/images/inslogo.gif" alt="{{L._('page_title')}}" /></a></div>
<div class="menu">{{L._('page_title')}} 版本号：{{constant('IKPHP_VERSION')}}
</div>
</div>
</div>