/* CSS Document */
body { padding-top: 50px; background:none repeat scroll 0 0 #f6f6f3 }
.table-responsive, .ik-def-tabsbar{ padding:10px 10px 5px 10px; background-color:#fff; margin:10px auto}
.ik-pagination{ margin:0px;}
.ik-actionbar{}
.ik-btn-group{  margin-top:10px; margin-bottom:10px}
.ik-pagehead{  padding-left: 15px;padding-right: 15px; border-bottom:1px solid #eee}



.ik-tabbd{ padding:30px 10px}

.ik-footer{ 
	color: #999;
    line-height: 1.8;
    padding: 4em 0 3em;
    text-align: center;
}
.ik-footer .resource {
    color: #ccc;
}
.ik-footer .resource a{ color: #999;
    margin: 0 3px;}

.input-mini {  
  width: 60px;  
}  
  
.input-small {  
  width: 90px;  
}  
  
.input-medium {  
  width: 150px;  
}  
  
.input-large {  
  width: 210px;  
}  
  
.input-xlarge {  
  width: 270px;  
}  
  
.input-xxlarge {  
  width: 530px;  
} 

/***
Page sidebar
***/

/* ie8 fixes */
.ie8 .page-sidebar {
  position: absolute;
  width: 225px;
}

.page-sidebar.navbar-collapse {
  padding: 0;
}

.page-sidebar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  margin: 0;
  padding: 0; 
}

.page-sidebar-menu > li {
  display: block;
  margin: 0;
  padding: 0; 
  border: 0px;
}

.page-sidebar-menu > li.start > a {
   border-top-color: transparent !important;
}

.page-sidebar-menu > li:last-child > a,
.page-sidebar-menu > li.last > a {
   border-bottom-color: transparent !important;
}

.page-sidebar-menu > li > a {
  display: block;
  position: relative;
  margin: 0;
  border: 0px;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
}

.page-sidebar-fixed .page-sidebar-menu > li > a {
  -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
       -o-transition: all 0.2s ease;
          transition: all 0.2s ease;
}

.page-sidebar-menu > li > a i {
  font-size: 16px;
  margin-right: 5px;
  text-shadow:none; 
}

.page-sidebar-menu > li.break {
  margin-bottom: 20px;
}

.page-sidebar-menu > li.active > a {
  border: none; 
  text-shadow:none;
}  

.page-sidebar-menu > li.active > a .selected {
  display: block;
  width: 8px;
  height: 25px;
  background-image: url("../images/sidebar-menu-arrow.png");
  float: right;
  position: absolute;
  right:0px;
  top:8px;
}

.page-sidebar ul > li > a > .arrow:before {  
   float: right;
   margin-top: 0px;
   margin-right: 5px;
   display: inline;
   font-size: 16px;
   font-family: FontAwesome;
   height: auto;
   content: "\f104";
   font-weight: 300;
   text-shadow:none;
}

.page-sidebar-menu > li > a > .arrow.open:before {   
   float: right;
   margin-top: 0px;
   margin-right: 3px;
   display: inline;
   font-family: FontAwesome;
   height: auto;
   font-size: 16px;
   content: "\f107";
   font-weight: 300;
   text-shadow:none;
}

/* bagin: sidebar menu badges */
.page-sidebar-menu li > a > .badge {
   float: right;
   margin-top: 1px;
   margin-right: 13px;
}

/* end: sidebar menu badges */

.page-sidebar-menu .sub-menu {
  padding: 0;
}

.page-sidebar-menu > li > ul.sub-menu {
  display: none;
  list-style: none;
  clear: both;
  margin: 8px 0px 8px 0px;
}

.page-sidebar-menu > li.active > ul.sub-menu {
  display: block;
}

.page-sidebar-menu > li > ul.sub-menu > li {
  background: none;
  margin: 0px;
  padding: 0px;
  margin-top: 1px !important;
}

.page-sidebar-menu > li > ul.sub-menu > li > a {
  display: block;
  margin: 0px 0px 0px 0px;
  padding: 5px 0px;
  padding-left: 44px !important;
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
  background: none;
}

/* 3rd level sub menu */
.page-sidebar-menu > li > ul.sub-menu  > li ul.sub-menu {
  display: none;
  list-style: none;
  clear: both;
  margin: 0px 0px 0px 0px;
}

.page-sidebar-menu > li > ul.sub-menu  li > a > .arrow:before   {  
   float: right;
   margin-top: 1px;
   margin-right: 20px;
   display: inline;
   font-size: 16px;
   font-family: FontAwesome;
   height: auto;
   content: "\f104";
   font-weight: 300;
   text-shadow:none;
}

.page-sidebar-menu > li > ul.sub-menu  li > a > .arrow.open:before {   
   float: right;
   margin-top: 1px;
   margin-right: 18px;
   display: inline;
   font-family: FontAwesome;
   height: auto;
   font-size: 16px;
   content: "\f107";
   font-weight: 300;
   text-shadow:none;
}

.page-sidebar-menu > li.active > ul.sub-menu > li.active ul.sub-menu {
  display: block;
}

.page-sidebar-menu > li > ul.sub-menu > li  ul.sub-menu li {
  background: none;
  margin: 0px;
  padding: 0px;
  margin-top: 1px !important;
}

.page-sidebar-menu > li > ul.sub-menu  li > ul.sub-menu > li > a {
  display: block;
  margin: 0px 0px 0px 0px;
  padding: 5px 0px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
  background: none;
}

.page-sidebar-menu > li > ul.sub-menu > li > ul.sub-menu > li > a {  
  padding-left: 60px;
}

.page-sidebar-menu > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li > a {  
  padding-left: 80px;
}

.page-sidebar-menu > li.active > ul.sub-menu > li.active ul.sub-menu > li.active ul.sub-menu {
  display: block;
}


.page-sidebar-menu > li > ul.sub-menu  li > ul.sub-menu > li > a > i {
  font-size: 13px;
}


.page-content {
    border-bottom: 1px solid #e2e2e2 !important;
    border-left: 1px solid #e2e2e2 !important;
	background-color: #fff;
}
.page-content {
    margin-left: 225px;
    margin-top: 0;
    min-height: 760px;
    padding: 20px;
}


.page-sidebar {
    position: absolute;
    width: 225px;
	background-color: #fafafa;
}
.page-sidebar.navbar-collapse {
    padding: 0; max-height: none !important;
}



/***
Footer
***/

.footer {
  padding: 8px 20px 5px 20px; 
  font-size: 12px;
}

.footer:after,
.footer:before {
  content: "";
  display: table;
  line-height: 0;
}

.footer:after {
  clear: both;
}

.footer .footer-inner {
  float: left;
  display: inline-block;
}

.footer .footer-tools {
  float: right;
  display: inline-block;
}

.footer .footer-tools .go-top { 
  display: block;
  text-decoration: none;
  cursor: pointer;
  margin-top: -2px;
  margin-right: 0px;
  margin-bottom: 0px;
  font-size: 16px;
  padding: 0px 6px 0px 6px;
}

.footer .footer-tools .go-top i {
  font-size: 22px;
  margin-bottom: 5px; 
}