<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="">
<meta name="author" content="" />  
{{ get_title() }}
{{ stylesheet_link('css/font-awesome.min.css') }}
{{ stylesheet_link('css/bootstrap.min.css') }}
{{ stylesheet_link('js/libs/css/ui-lightness/jquery-ui-1.9.2.custom.css') }}
{{ stylesheet_link('js/plugins/magnific/magnific-popup.css') }}       
{{ stylesheet_link('css/App.css') }}

{{ stylesheet_link('css/custom.css') }}