<!--main-->
<div class="midder">
<div class="mc">

{{partial('user/set_menu')}}

	<div class="utable">
    <form method="POST" action="{{url('home/user/setpassword')}}">
    {% if !ispassword %}
    <p>亲，你是第三方登录的用户；请尽快设置下密码吧；方便你以后直接用：{{strUser['email']}} 账号登录</p>
    {% endif %}
    <table cellpadding="5" cellspacing="5">
    {% if ispassword %}
    <tr>
    <th>旧密码：</th><td><input class="uinput" name="old" value="" type="password" /></td>
    </tr>
    {% endif %}
    <tr>
    <th>新密码：</th><td><input class="uinput" name="password" value="" type="password" /></td>
    </tr>
    <tr>
    <th>重复新密码：</th><td><input class="uinput" name="repassword" value="" type="password" /></td>
    </tr>
    
    <tr><th></th><td><input class="submit" type="submit" value="修改密码"  /></td></tr>
    
    </table>
    </form>
    </div>

    
    
</div>
</div>